<body id="tope">
    <!-- <app-nav></app-nav> -->


    <section class="estamos estamos--financiamiento py-5">
        <div class="container pt-5">
            <div class="row py-5">
                <div class="col-12 text-center blanco pt-5">
                    <!-- <h1 class="serif h4">FINANCIAMIENTO</h1> -->
                </div>
            </div>
        </div>
    </section>
<!-- 
    <section class="bg-grisc py-2">
        <div class="container py-3">
            <div class="row negro">
                <div class="col-12 text-center pb-5">
					<h1 class="titu h1">FINANCIAMIENTO</h1>
				</div>
                
                <div class="col-12 col-lg-6 py-3">
                    <h5 class="serif">Deseas desarrollar tu sistema de franquicia pero</h5>
                    <h1 class="bebas">¿TE PREOCUPAN LOS COSTOS?</h1>
                </div>
                <div class="col-12 col-lg-4">
                    <p style="text-align: justify;">Nuestra plataforma te brinda facilidades de pagos que se
                        adaptan a tus necesidades.
                        Adquiere tu franquicia y liquídala mediante un sistema de pagos o bien, hasta realizar el
                        otorgamiento de tu primer Franquicia; lo que suceda de primero.</p>
                </div>
            </div>
        </div>
    </section> -->

    <section class="bg-red py-2">
        <div class="container py-3">
            <div class="row negro">
                <div class="col-12 text-center pb-5">
					<h1 class="titu h1">PAGA A MESES.</h1>
                    <br>
                    <h5 class="serif">Haz franquicia tu negocio ahora mismo y págala a meses. </h5>
				</div>
                
                <section class="py-5">
                    <div class="container py-4">
                      <div class="row justify-content-center">
                        <div class="col-12 text-center pb-5 position-relative">
                          <h2 class="titu negro pos__titt">¿CUAL ES EL PROCESO?</h2>
                          <hr />
                        </div>
                        <div class="col-12 pb-4"></div>
                        <div
                          class="col-12 col-lg-3 mb-3 text-center"
                          type="button"
                          routerLink="/servicios"
                        >
                          <div
                            class="w__funciona position-relative wow fadeInDown"
                            data-wow-delay="0s"
                          >
                            <img
                              class="w__funciona--img"
                              src="assets/images/funciona--1.svg"
                              width="65"
                            />
                            <div class="d-flex justify-content-center px-4 mt-5">
                              <h4 class="titu" style="text-align: center">1</h4>
                            </div>
                            <div class="d-flex justify-content-center">
                              <h6 class="bold" style="text-align: center">
                                Elije tu plan de pagos <br> y conoce las opciones que <br> tenemos para ti.
                              </h6>
                            </div>
                           <!--  <div class="w__funciona--p flex-column">
                              <p>1.- Elije el plan que se adapte a tus necesidades.</p>
                              <p>2.- Realiza el pago con el método que más te convenga.</p>
                            </div> -->
                            <div class="w__funciona--linea"></div>
                          </div>
                        </div>


                        <div class="col-12 col-lg-3 mb-3 text-center" type="button">
                          <div
                            class="w__funciona position-relative wow fadeInDown"
                            data-wow-delay="0.1s"
                          >
                            <img
                              class="w__funciona--img"
                              src="assets/images/funciona--2.svg"
                              width="65"
                            />
                            <div class="d-flex justify-content-center px-4 mt-5">
                              <h4 class="titu" style="text-align: center">2</h4>
                            </div>
                            <div class="d-flex justify-content-center">
                              <h6 class="bold" style="text-align: center">
                                Completa los datos <br> y <br> solicita tu financiamiento.
                              </h6>
                            </div>
                           <!--  <button
                              type="button"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            >
                              <div class="w__funciona--p flex-column align-items-center">
                                <p>
                                  Una vez realizado el pago, nuestros especialistas se pondrán
                                  en contacto contigo para tener la primera reunión de
                                  arranque.
                                </p>
                                <p>
                                  Conoce nuestro sencillo método digital haciendo
                                  <u>Click Aquí</u>
                                </p>
                              </div>
                            </button> -->
                            <div class="w__funciona--linea"></div>
                          </div>
                        </div>



                        <div class="col-12 col-lg-3 mb-3 text-center" type="button">
                          <div
                            class="w__funciona position-relative wow fadeInDown"
                            data-wow-delay="0.2s"
                          >
                            <img
                              class="w__funciona--img"
                              src="assets/images/funciona--3.svg"
                              width="65"
                            />
                            <div
                              class="w__funciona--seriflo text-start d-flex align-items-center justify-content-center px-4 mt-5"
                            >
                              <h4 class="titu" style="text-align: center">3</h4>
                            </div>
                            <div class="d-flex justify-content-center">
                              <h6 class="bold" style="text-align: center">
                                Una vez validada la información, realiza el primer pago y domicilia los pagos mensuales.
                              </h6>
                            </div>
                           <!--  <div class="w__funciona--p">
                              <p>
                                Una vez firmado el acuerdo. ¡En tres meses, tu marca empieza a
                                ser parte del sistema de franquicias!
                              </p>
                            </div> -->
                            <div class="w__funciona--linea"></div>
                          </div>
                        </div>

                        <div class="col-12 col-lg-3 mb-3 text-center" type="button">
                            <div
                              class="w__funciona position-relative wow fadeInDown"
                              data-wow-delay="0.2s"
                            >
                              <img
                                class="w__funciona--img imgRedonda"
                                src="assets/images/tufranquicia.svg"
                                width="65"
                              />
                              <div
                                class="w__funciona--seriflo text-start d-flex align-items-center justify-content-center px-4 mt-5"
                              >
                                <h4 class="titu" style="text-align: center">4</h4>
                              </div>
                              <div class="d-flex justify-content-center">
                                <h6 class="bold" style="text-align: center">
                                    Obtén <br> tu <br> franquicia. 
                                </h6>
                              </div>
                              <!-- <div class="w__funciona--p">
                                <p>
                                  Una vez firmado el acuerdo. ¡En tres meses, tu marca empieza a
                                  ser parte del sistema de franquicias!
                                </p>
                              </div> -->
                              <div class="w__funciona--linea"></div>
                            </div>
                          </div>
                        <!--  <div class="col-12 text-center">
                          <a routerLink="/test"  class="btns btns--negro mt-3">EMPEZAR TEST <img src="assets/images/flecha.svg" width="25"></a>
                        </div> -->
                      </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                      <span class="p-buttonset">
                        <button type="button" class="btn btn-secondary btn-lg" (click)="mostrarParteA()">Simulador de Pagos</button>
                        <button type="button" class="btn btn-success btn-lg" (click)="mostrarParteB()">Solicítalo Ahora</button>
                        </span>
                        </div>
                        </div>
                  </section>
                 
               
            </div>
        </div>
    </section>
<form action="">
    <ng-template [ngIf]="parteA">
    <section class="bg-grisc py-2">
        <div class="container py-3">
            <div class="row mt-4 justify-content-center">
                <div class="col-12 col-lg-6 text-center">
                    
                    
                    <h1 class="bebas">Simulador de Pagos</h1>
                    <br>
                    <p>Elige el plan que deseas contratar</p>
                   <!--  <h6>$: {{val}}</h6>
                    <p-slider [(ngModel)]="val" [min]="0" [max]="3000000"></p-slider> -->
                    <span class="p-buttonset">
                        <button pButton type="button" (click)="plus1()" [(ngModel)]="plus" label="Plan Plus" name="fieldName" ngDefaultControl value="a" class="p-button-outlined"></button>
                        <button pButton type="button" (click)="premium1()" [(ngModel)]="premium" label="Plan Premium" name="fieldName" ngDefaultControl value="b" class="p-button-outlined"></button>
                    </span>
                    <br>
                    <ng-template [ngIf]="plusElejido">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Plan elejido:<br>
                        <h6 class="bold">Plan Plus</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="premiumElejido">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Plan elejido:<br>
                        <h6 class="bold">Plan Premium</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <p>¿A cuántos meses te gustaría pagar?</p>
                    <ng-template [ngIf]="mesesPLUS">
                    <span class="p-buttonset">
                        <button pButton type="button" (click)="Mostrar3Meses()" [(ngModel)]="TresMeses" name="fieldName" ngDefaultControl label="3 meses" class="p-button-outlined"></button>
                        <button pButton type="button" (click)="Mostrar6Meses()" [(ngModel)]="SeisMeses" name="fieldName" ngDefaultControl label="6 meses" class="p-button-outlined"></button>
                        <button pButton type="button" (click)="Mostrar9Meses()" [(ngModel)]="NueveMeses" name="fieldName" ngDefaultControl label="9 meses" class="p-button-outlined"></button>
                        <button pButton type="button" (click)="Mostrar12Meses()" [(ngModel)]="DoceMeses" name="fieldName" ngDefaultControl label="12 meses" class="p-button-outlined"></button>
                    </span>
                    </ng-template>
                    <ng-template [ngIf]="mesesPREM">
                        <span class="p-buttonset">
                            <button pButton type="button" (click)="Mostrar3MesesPRE()" [(ngModel)]="TresMeses" name="fieldName" ngDefaultControl label="3 meses" class="p-button-outlined"></button>
                            <button pButton type="button" (click)="Mostrar6MesesPRE()" [(ngModel)]="SeisMeses" name="fieldName" ngDefaultControl label="6 meses" class="p-button-outlined"></button>
                            <button pButton type="button" (click)="Mostrar9MesesPRE()" [(ngModel)]="NueveMeses" name="fieldName" ngDefaultControl label="9 meses" class="p-button-outlined"></button>
                            <button pButton type="button" (click)="Mostrar12MesesPRE()" [(ngModel)]="DoceMeses" name="fieldName" ngDefaultControl label="12 meses" class="p-button-outlined"></button>
                        </span>
                        </ng-template>
                    <br>
                    <ng-template [ngIf]="meses3">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Numero de meses:<br>
                        <h6 class="bold">3</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="meses6">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Numero de meses:<br>
                        <h6 class="bold">6</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="meses9">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Numero de meses:<br>
                        <h6 class="bold">9</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="meses12">
                        <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-lg-6 text-center">
                        Numero de meses:<br>
                        <h6 class="bold">12</h6>
                        
                        </div>
                        </div>
                    </ng-template>
                    <br>
                   <!--  <p>¿Cual es el estimado de las Utilidades mensuales de tu negocio?</p> -->
                 <!--    <span class="p-buttonset">
                        <input type="number" class="input_abogado redondo mb-3" placeholder="Ingresa tus Utilidades (solo numeros)">
                    </span> -->
                        <br>
                        <br>
                        <br>
                        <!-- BOTON CALCULAR PARA PLAN PLUS -->
                        <ng-template [ngIf]="boton3MP">
                        <input type="submit" (click)="showDialog()" (click)="MostrarTabla3MP()" (click)=" cambiarBotones()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton6MP">
                            <input type="submit" (click)="showDialog()" (click)="MostrarTabla6MP()" (click)=" cambiarBotones()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton9MP">
                            <input type="submit" (click)="showDialog()" (click)="MostrarTabla9MP()" (click)=" cambiarBotones()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton12MP">
                            <input type="submit" (click)="showDialog()" (click)="MostrarTabla12MP()" (click)=" cambiarBotones()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>

                        <ng-template [ngIf]="intento">
                        <a type="button" href="javascript:location.reload()" class="btns--primario">INTENTAR DE NUEVO</a>
                        </ng-template>
                        <p-dialog header="Este seria tu plan de pagos" [(visible)]="display">

                            <ng-template [ngIf]="tabla3mesesplus">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Tipo de Plan</th>
                                    <th scope="col">Te Prestamos</th>
                                    <th scope="col">Pago inicial</th>
                                    <th scope="col">Tasa de Interes</th>
                                    <th scope="col">Numero de meses</th>
                                    <th scope="col">Pago Mensual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Plus</th>
                                    <td>$38,728</td>
                                    <td>$7,745.6</td>
                                    <td>3%</td>
                                    <td>3</td>
                                    <td>$12,909.33</td>
                                  </tr>
                                  
                                </tbody>
                            </table>
                            </ng-template>

                            <ng-template [ngIf]="tabla6mesesplus">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Tipo de Plan</th>
                                        <th scope="col">Te Prestamos</th>
                                        <th scope="col">Pago inicial</th>
                                        <th scope="col">Tasa de Interes</th>
                                        <th scope="col">Numero de meses</th>
                                        <th scope="col">Pago Mensual</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>Plus</th>
                                        <td>$39,856</td>
                                        <td>$7,971.2</td>
                                        <td>6%</td>
                                        <td>6</td>
                                        <td>$6,642.66</td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            </ng-template>

                            <ng-template [ngIf]="tabla9mesesplus">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Tipo de Plan</th>
                                        <th scope="col">Te Prestamos</th>
                                        <th scope="col">Pago inicial</th>
                                        <th scope="col">Tasa de Interes</th>
                                        <th scope="col">Numero de meses</th>
                                        <th scope="col">Pago Mensual</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>Plus</th>
                                        <td>$40,984</td>
                                        <td>$8,196.8</td>
                                        <td>9%</td>
                                        <td>9</td>
                                        <td>$4,553.77</td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            </ng-template>

                            <ng-template [ngIf]="tabla12mesesplus">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Tipo de Plan</th>
                                        <th scope="col">Te Prestamos</th>
                                        <th scope="col">Pago inicial</th>
                                        <th scope="col">Tasa de Interes</th>
                                        <th scope="col">Numero de meses</th>
                                        <th scope="col">Pago Mensual</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>Plus</th>
                                        <td>$42.112</td>
                                        <td>$8,422.4</td>
                                        <td>12%</td>
                                        <td>12</td>
                                        <td>$3,509.33</td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            </ng-template>
                          
                        </p-dialog>

                        <!-- BOTONES PARA PLAN PREMIUM -->
                        <ng-template [ngIf]="boton3MPRE">
                            <input type="submit" (click)="showDialog2()" (click)="MostrarTabla3MPRE()" (click)="cambiarBotones2()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton6MPRE">
                            <input type="submit" (click)="showDialog2()" (click)="MostrarTabla6MPRE()" (click)="cambiarBotones2()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton9MPRE">
                            <input type="submit" (click)="showDialog2()" (click)="MostrarTabla9MPRE()" (click)="cambiarBotones2()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>
                        <ng-template [ngIf]="boton12MPRE">
                            <input type="submit" (click)="showDialog2()" (click)="MostrarTabla12MPRE()" (click)="cambiarBotones2()" class="btns--primario" value="Calcular"> <br>
                        </ng-template>


                        <p-dialog header="Este seria tu plan de pagos Premium" [(visible)]="display2">
                        <ng-template [ngIf]="tabla3mesesPREMIUM">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Tipo de Plan</th>
                                    <th scope="col">Te Prestamos</th>
                                    <th scope="col">Pago inicial</th>
                                    <th scope="col">Tasa de Interes</th>
                                    <th scope="col">Numero de meses</th>
                                    <th scope="col">Pago Mensual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Premium</th>
                                    <td>$157,590</td>
                                    <td>$15,759</td>
                                    <td>3%</td>
                                    <td>3</td>
                                    <td>$52,530</td>
                                  </tr>
                                  
                                </tbody>
                            </table>
                        </ng-template>
                        <ng-template [ngIf]="tabla6mesesPREMIUM">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Tipo de Plan</th>
                                    <th scope="col">Te Prestamos</th>
                                    <th scope="col">Pago inicial</th>
                                    <th scope="col">Tasa de Interes</th>
                                    <th scope="col">Numero de meses</th>
                                    <th scope="col">Pago Mensual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Premium</th>
                                    <td>$162,180</td>
                                    <td>$16,218</td>
                                    <td>6%</td>
                                    <td>6</td>
                                    <td>$27,030</td>
                                  </tr>
                                  
                                </tbody>
                            </table>
                        </ng-template>
                        <ng-template [ngIf]="tabla9mesesPREMIUM">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Tipo de Plan</th>
                                    <th scope="col">Te Prestamos</th>
                                    <th scope="col">Pago inicial</th>
                                    <th scope="col">Tasa de Interes</th>
                                    <th scope="col">Numero de meses</th>
                                    <th scope="col">Pago Mensual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Premium</th>
                                    <td>$166,770</td>
                                    <td>$16,677</td>
                                    <td>9%</td>
                                    <td>9</td>
                                    <td>$18,530</td>
                                  </tr>
                                  
                                </tbody>
                            </table>
                        </ng-template>
                        <ng-template [ngIf]="tabla12mesesPREMIUM">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Tipo de Plan</th>
                                    <th scope="col">Te Prestamos</th>
                                    <th scope="col">Pago inicial/th>
                                    <th scope="col">Tasa de Interes</th>
                                    <th scope="col">Numero de meses</th>
                                    <th scope="col">Pago Mensual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Premium</th>
                                    <td>$171,360</td>
                                    <td>$19,040</td>
                                    <td>12%</td>
                                    <td>12</td>
                                    <td>$14,280</td>
                                  </tr>
                                  
                                </tbody>
                            </table>
                        </ng-template>
                        </p-dialog>
                        
                      
                
                </div>
            </div>
        </div>
    </section>
    </ng-template>


    <ng-template [ngIf]="parteB">
    <section class="bg-grisc py-2">
        <div class="container py-3">
            <div class="row mt-4 justify-content-center">
                <div class="col-12"></div>
                <div class="col-12 col-lg-5 text-center">
                    <h2 class="bebas">Solicita tu plan de pagos.</h2>
                    <p>¡Estás en la recta final! En Franquiciat te guiaremos paso a paso para que inicies tu trámite, 
                        sólo ingresa tus datos e indícanos el plan y los pagos que se adecuen a tus necesidades. </p>
                    <form class="mt-4" (ngSubmit)="enviar()" autocomplete="off">
                        <input type="text" class="input--financiamiento" placeholder="Nombre del Solicitante"
                            formControlName="nombresj" name="nombres" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('nombresj')">
                            Este campo es obligatorio
                        </span>
                        <input type="text" class="input--financiamiento" placeholder="Apellido Paterno"
                            formControlName="apellidoP"  name="apellidosP" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('apellidoP')">
                            Este campo es obligatorio
                        </span>
                        <input type="text" class="input--financiamiento" placeholder="Apellido Materno"
                            formControlName="apellidoM"  name="apellidosM" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('apellidoM')">
                            Este campo es obligatorio
                        </span>
                        <input type="text" class="input--financiamiento" placeholder="Domicilio"
                            formControlName="domicilio" name="domicilio" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('domicilio')">
                            Este campo es obligatorio
                        </span>
                        <input type="number" class="input--financiamiento" placeholder="Telefono"
                            formControlName="Telefono"  name="Telefono" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('Telefono')">
                            Este campo es obligatorio
                        </span>
                        <input type="email" class="input--financiamiento" placeholder="Correo Electronico"
                            formControlName="correos"  name="correo" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('correos')">
                            Este campo es obligatorio
                        </span>
                        <input type="text" class="input--financiamiento" placeholder="Nombre de tu Negocio"
                            formControlName="nombreNegocio"  name="nombreNegocio" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('nombreNegocio')">
                            Este campo es obligatorio
                        </span>
                        <input type="text" class="input--financiamiento" placeholder="¿Cuanto tiempo tiene existiendo tu negocio?"
                            formControlName="tiempoNegocio" name="tiempoNegocio" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('tiempoNegocio')">
                            Este campo es obligatorio
                        </span>
                        <input type="number" class="input--financiamiento" placeholder="¿Cuales son tus ingresos mensuales?"
                            formControlName="utilidadesNegocio" name="utilidadesNegocio" style="border: solid;">
                        <span class="form-text text-danger" *ngIf="campoEsValido('utilidadesNegocio')">
                            Este campo es obligatorio
                        </span> <br>
                        ¿Que plan te interesa?
                            <select name="tipoPlan" class="input--financiamiento" formControlName="tipoPlan"  name="tipoPlan" style="border: solid;">
                                <!-- <option value="value0" selected disabled>--Selecciona un Plan--</option> -->
                                <option value="Plan Plus" selected>Plan Plus</option>
                                <option value="Plan Premium">Plan Premium</option>
                              </select>
                        <span class="form-text text-danger" *ngIf="campoEsValido('tipoPlan')">
                            Este campo es obligatorio
                        </span>
                     
                      <!--   Adjunta los ultimos 3 estados de cuenta a nombre del solicitante <br> <b>(los 3 estados de cuenta en un mismo documento .PDF)</b> -->
                        <!-- <input type="file" class="input--financiamiento"
                        formControlName="estadosCuentas" [(ngModel)]="estadosCuentas" name="estadosCuentas" style="border: solid;"> -->
                      <!--   <input type="file" [(ngModel)]="archivoPDF" name="archivoPDF" formControlName="estadosCuentas" class="input--financiamiento"
                        class="file-upload" class="input redondo mb-3"
                        accept=".pdf"  (change)="cargarCurriculum($event)"
                       > -->
             

                       <div class="modal-footer">

                        <div class="col-12 text-center mb-5">
                            <label class="checkbox-inline">
                                <input type="checkbox" (click)="terminos()"> <br>
                                <a type="button" >  
                                    Acepto
                                    Términos y
                                    condiciones <br>y <br> Aviso de Privacidad.</a>
                            </label>
                        </div>

                        <ng-template [ngIf]="btn">

                            <input type="submit" class="btns--primario" (click)="financiamiento(nombres, apellidosP,apellidosM,domicilio,Telefono,correo,nombreNegocio,tiempoNegocio,utilidadesNegocio,tipoPlan,archivoPDF)" value="Enviar mi solicitud">

                        </ng-template>
                    </div>


                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    </ng-template>
</form>
    <!-- <ng-template [ngIf]="parte0">
        <section class="py-5">
            <div class="container py-5">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 text-center mb-5">
                        <h1 class="serif">¿Cuáles son los pasos?</h1>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <img src="assets/images/time.svg" class="mb-3" width="80">
                        <h4 class="serif">Solicita</h4>
                        <p>Conoce el resultado en menos de 2 minutos.</p>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <img src="assets/images/doc.svg" class="mb-3" width="80">
                        <h4 class="serif">Comparte</h4>
                        <p>Carga los documentos requeridos, y valida la información proporcionada.</p>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <img src="assets/images/dolar.svg" class="mb-3" width="80">
                        <h4 class="serif">Cubre el enganche</h4>
                        <p>Realiza el pago inicial y asegura tu crecimiento.</p>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <img src="assets/images/disfruta.svg" class="mb-3" width="80">
                        <h4 class="serif">Disfruta</h4>
                        <p>Recibe los instrumentos que te permitirán desarrollar tu negocio bajo el modelo de franquicia.</p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <a type="button" (click)="mostrarParte1()" class="btns--primario">Descubre tus opciones de financiamiento</a>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template [ngIf]="parte1">
        <section class="py-5">
            <div class="container py-5">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 col-lg-3 text-center pb-5 d-flex justify-content-between">
                        <div class="pasos--f activo" (click)="mostrarParte1()" type="button">1</div>
                        <div class="pasos--f" (click)="mostrarParte2()" type="button">2</div>
                        <div class="pasos--f" (click)="mostrarParte3()" type="button">3</div>
                        <div class="pasos--f" (click)="mostrarParte4()" type="button">4</div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-lg-5 text-center">
                        <h4 class="serif">Pide tu financiamiento</h4>
                        <p>Ingresa los datos y conoce las opciones que tenemos para ti.</p>
                        <form class="mt-4" (ngSubmit)="enviar()" [formGroup]="miFormulario" autocomplete="off">
                            <input type="text" class="input--financiamiento" placeholder="NOMBRE"
                                formControlName="nombresj" [(ngModel)]="nombres" name="nombres">
                            <span class="form-text text-danger" *ngIf="campoEsValido('nombresj')">
                                Este campo es obligatorio
                            </span>
                            <input type="text" class="input--financiamiento" placeholder="APALLIDO PATERNO"
                                formControlName="apellidoP" [(ngModel)]="apellidosP" name="apellidosP">
                            <span class="form-text text-danger" *ngIf="campoEsValido('apellidoP')">
                                Este campo es obligatorio
                            </span>
                            <input type="text" class="input--financiamiento" placeholder="APELLIDO MATERNO"
                                formControlName="apellidoM" [(ngModel)]="apellidosM" name="apellidosM">
                            <span class="form-text text-danger" *ngIf="campoEsValido('apellidoM')">
                                Este campo es obligatorio
                            </span>
                            <input type="email" class="input--financiamiento" placeholder="CORREO"
                                formControlName="correos" [(ngModel)]="correo" name="correo">
                            <span class="form-text text-danger" *ngIf="campoEsValido('correos')">
                                Este campo es obligatorio
                            </span>
                            <input type="submit" (click)="mostrarParte2()" class="btns--primario" value="Continuar">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template [ngIf]="parte2">
        <section class="py-5">
            <div class="container py-5">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 col-lg-3 text-center pb-5 d-flex justify-content-between">
                        <div class="pasos--f" (click)="mostrarParte1()" type="button">1</div>
                        <div class="pasos--f activo" (click)="mostrarParte2()" type="button">2</div>
                        <div class="pasos--f" (click)="mostrarParte3()" type="button">3</div>
                        <div class="pasos--f" (click)="mostrarParte4()" type="button">4</div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-lg-5 text-center">
                        <h4 class="serif">Busquemos la mejor oferta</h4>
                        <p>Cuéntanos cuánto te gustaría pagar e ingresa tu información económica.</p>
                        <form class="mt-4" (ngSubmit)="enviar()" [formGroup]="miFormulario" autocomplete="off">
                            <input type="number" class="input--financiamiento" placeholder="PAGO MENSUAL DESEADO"
                                formControlName="pago" [(ngModel)]="pagoMensual" name="pagoMensual">
                            <span class="form-text text-danger" *ngIf="campoEsValido('pago')">
                                Este campo es obligatorio
                            </span>
                            <input type="number" class="input--financiamiento" placeholder="ENGANCHE DISPONIBLE"
                                formControlName="engancheD" [(ngModel)]="enganche" name="enganche">
                            <span class="form-text text-danger" *ngIf="campoEsValido('engancheD')">
                                Este campo es obligatorio
                            </span>
                            <input type="number" class="input--financiamiento" placeholder="INGRESO LIBRE MENSUAL"
                                formControlName="ingresoL" [(ngModel)]="ingreso" name="ingreso">
                            <span class="form-text text-danger" *ngIf="campoEsValido('ingresoL')">
                                Este campo es obligatorio
                            </span>
                            <input type="number" class="input--financiamiento" placeholder="DEPENDIENTES ECONÓMICOS"
                                formControlName="dependientesE" [(ngModel)]="dependientes" name="dependientes">
                            <span class="form-text text-danger" *ngIf="campoEsValido('dependientesE')">
                                Este campo es obligatorio
                            </span>
                            <input type="submit" class="btns--primario" value="Continuar" (click)="mostrarParte3()">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template [ngIf]="parte3">

        <section class="py-5">
            <div class="container py-5">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 col-lg-3 text-center pb-5 d-flex justify-content-between">
                        <div class="pasos--f" (click)="mostrarParte1()" type="button">1</div>
                        <div class="pasos--f" (click)="mostrarParte2()" type="button">2</div>
                        <div class="pasos--f activo" (click)="mostrarParte3()" type="button">3</div>
                        <div class="pasos--f" (click)="mostrarParte4()" type="button">4</div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-lg-5 text-center">
                        <h4 class="serif">Cuéntanos dónde vives</h4>
                        <p>Ingresa la dirección de tu domicilio.</p>
                        <form class="mt-4" (ngSubmit)="enviar()" [formGroup]="miFormulario" autocomplete="off">
                            <input type="text" class="input--financiamiento" placeholder="CALLE"
                                formControlName="calles" [(ngModel)]="calle" name="calle">
                            <span class="form-text text-danger" *ngIf="campoEsValido('calles')">
                                Este campo es obligatorio
                            </span>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="number" class="input--financiamiento" placeholder="NÚMERO EXTERIOR"
                                        formControlName="exteriorC" [(ngModel)]="exterior" name="exterior">
                                    <span class="form-text text-danger" *ngIf="campoEsValido('exteriorC')">
                                        Este campo es obligatorio
                                    </span>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="number" class="input--financiamiento" placeholder="NÚMERO INTERIOR"
                                        [(ngModel)]="interior" name="interior">
                                </div>
                            </div>
                            <input type="number" class="input--financiamiento" placeholder="CP" formControlName="cpf"
                                [(ngModel)]="cp" name="cp">
                            <span class="form-text text-danger" *ngIf="campoEsValido('cpf')">
                                Este campo es obligatorio
                            </span>
                            <input type="text" class="input--financiamiento" placeholder="COLONIA"
                                formControlName="coloniaf" [(ngModel)]="colonia" name="colonia">
                            <span class="form-text text-danger" *ngIf="campoEsValido('coloniaf')">
                                Este campo es obligatorio
                            </span>
                            <input type="text" class="input--financiamiento" placeholder="CIUDAD"
                                formControlName="ciudadf" [(ngModel)]="ciudad" name="ciudad">
                            <span class="form-text text-danger" *ngIf="campoEsValido('ciudadf')">
                                Este campo es obligatorio
                            </span>
                            <input type="text" class="input--financiamiento" placeholder="ESTADO"
                                formControlName="estadof" [(ngModel)]="estado" name="estado">
                            <span class="form-text text-danger" *ngIf="campoEsValido('estadof')">
                                Este campo es obligatorio
                            </span>
                            <input type="submit" class="btns--primario" value="Continuar" (click)="mostrarParte4()">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template [ngIf]="parte4">
        <section class="py-5">
            <div class="container py-5">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 col-lg-3 text-center pb-5 d-flex justify-content-between">
                        <div class="pasos--f" (click)="mostrarParte1()" type="button">1</div>
                        <div class="pasos--f" (click)="mostrarParte2()" type="button">2</div>
                        <div class="pasos--f" (click)="mostrarParte3()" type="button">3</div>
                        <div class="pasos--f activo" (click)="mostrarParte4()" type="button">4</div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-lg-5 text-center">
                        <h4 class="serif">YA CASI TERMINAMOS</h4>
                        <p>EN BEREVE NOS PONDREMOS EN CONTACTO CONTIGO</p>
                        <img src="assets/images/finalizar.svg" width="200" class="py-5">
                        <a type="button" (click)="financiamiento(
                            nombres,apellidosP,apellidosM,correo,
                            pagoMensual,enganche,ingreso, dependientes,
                            calle,exterior,interior,cp,colonia,ciudad,estado)" class="btns--primario">Finalizar</a>
                    </div>
                </div>
            </div>
        </section>
    </ng-template> -->

    <!-- cambio de color -->
    <section class="snegro py-5" style="background: #CACACA;">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-4 pb-4">
                    <h2 class="titu">CONTÁCTANOS</h2>
                </div>
                <div class="col-12 col-lg-4 mb-4">
                    <p>¿Dónde encontrarnos? Nuestras oficinas se ubican en Calle José María Arteaga, número 27, Colonia
                        Centro,
                        C.P. 76000, Querétaro, Querétaro.</p>
                    <a href="mailto:contacto@franquiciat.com.mx">
                        <img src="assets/images/email.svg" width="20" />
                        <!-- contacto@franquiciat.com.mx -->
                    </a>
                    <br /><br />
                    <a href="tel:4424567890">
                        <img src="assets/images/tel.svg" width="17" /> (442) 456 7890
                    </a>
                </div>
                <div class="col-12 col-lg-4 text-center mb-4">
                    <form action="">
                        <input type="text" class="input mb-2" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
                        <input type="text" class="input mb-2" placeholder="Email" [(ngModel)]="email" name="email">
                        <textarea name="" id="" cols="30" rows="6" class="input mb-2" placeholder="Mensaje"
                            [(ngModel)]="mensaje" name="mensaje"></textarea>

                          

                       
                    </form>
                    <div class="modal-footer">

                        <div class="col-12 text-center mb-5">
                            <label class="checkbox-inline">
                                <input type="checkbox" (click)="terminos()"> <a type="button"
                                    > Acepto
                                    Términos y
                                    condiciones</a>.
                            </label>
                        </div>

                        <ng-template [ngIf]="btn">

                            <input type="submit" value="Enviar" (click)="contacto(nombre,apellidos,email,empresa,mensaje)">

                        </ng-template>

                </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="google mb-0 pb-0">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29881.256627396848!2d-100.3704601!3d20.581641899999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1645050987391!5m2!1ses-419!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div> -->

</body>