
<!-- <nav class="navbar navbar-expand-lg pb-3 d-block">
	<div class="container-fluid justify-content-between mt-4">
		<a class="navbar-brand position-relative" href="">
			<img src="assets/images/franquiciat-logo.svg">
		</a>


		<button id="arrow" class="navbar-toggler mt-4" type=	"button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="pi pi-bars"></i>
			<script src="../../../../assets/json/lottie.js" type="text/javascript"></script>
			<script src="../../../../assets/json/index2.js" type="text/javascript"></script>
		</button>
		<div class="collapse navbar-collapse py-3 align-items-center justify-content-center"
			id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 text-center">
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" href="">INICIO</a>
				</li>
				<ng-template [ngIf]="activa">
				<li class="nav-item">
					
					<a class="nav-link ps-lg-5 pe-0" routerLink="/servicios">PLANES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/test">TEST</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/appointments/lawyer/list">CITAS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/financiamiento">FINANCIAMIENTO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/cursos">CURSOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/recursos">RECURSOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/testimoniales">TESTIMONIALES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/contacto">CONTACTO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ps-lg-5 pe-0" routerLink="/nosotros">NOSOTROS</a>
				</li>
			</ng-template>
			</ul>
		</div>
		<div class="nav__bar--right f12">
			<ul class="d-flex">

				<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
					*ngIf="auth.isAuthenticated$ | async">
					<div class="dropdown">
						<a id="dropdownMenuButton1" data-bs-toggle="dropdown" title="Mi Cuenta Login"
							href="javascript:void(0)" class="blanco" *ngIf="auth.user$ | async as user"><i
								class="far fa-user amarillo"></i>{{ user.name }} <i class="pi pi-angle-down"></i></a>


					
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
							style="background-color:#BFBFBF;">
							<ng-template [ngIf]="activa">
							<li><a class="nav-link ps-lg-5 pe-0" style="background-color:#333;" routerLink="/perfil"> Mi
									cuenta</a></li>
								</ng-template>
							<li><a class="nav-link ps-lg-5 pe-0" style="background-color:#333;" (click)="logout()"
									type="button">Cerrar Sesión</a></li>
						</ul>
					
					</div>
				</li>

				<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="">

					<a title="Mi Cuenta" routerLink="" class="blanco" (click)="loginWithRedirect()"
						*ngIf="!(auth.isAuthenticated$ | async)"><i class="far fa-user amarillo"></i>Mi Cuenta</a>
				</li>

				<ng-template [ngIf]="activa">
				<li class="px-3"><a class="blanco" (click)="carrito()" type="button"><img src="assets/images/cart.svg"
							alt="FranquiciaT" width="14"> Carrito</a></li>
						</ng-template>

			</ul>
		</div>
	</div>
</nav> -->








<nav class="navbar navbar-expand-lg pb-1 d-block scrolled">

	<div class="container" style="height: 4rem;">
	  <div class="navbar__top dorado d-flex flex-column flex-lg-row justify-content-between align-items-center w-100">

		<div class="navbar__top--left f12">
			<ul class="d-flex">
			  <!-- <li><i routerLink="/newsletter"class="far fa-envelope"></i> Newsletter</li>
			  <li class="d-flex align-items-center ms-3">
				<a routerLink="/" style="color:#C59B51">Registrar</a>
			  </li> -->
	
			 <!--  <ng-template [ngIf]="activa"> -->
				<li class="d-flex align-items-center ms-3">
				  <div class="dropdown">
					<!-- <a role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Regístrate</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					  <li>
						<a class="nav-link" style="background-color:rgb(255, 255, 255);"
						>Abogado</a>
					  </li>
					  <li>
						<a class="nav-link" style="background-color:rgb(255, 255, 255);"
						>Notario ó Corredor</a>
					  </li>
					</ul> -->
				  </div>
				</li>
			 <!--  </ng-template> -->
	
			</ul>
	
		  </div>

		<div class="nav__bar--right f12 nav-superior" >
			<ul class="d-flex">
	
			  <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
				>
				<!-- <div class="dropdown"> -->
				  <!-- <a routerLink="/perfil"  style="color: white;" title="Mi Cuenta Login" href="javascript:void(0)"
					class="negro" ><i class="far fa-user"></i> </a> -->
	
				  <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color:#BFBFBF;">
						<ng-template [ngIf]="activa">
					<li><a class="nav-link " style="background-color:rgb(0, 0, 0);" routerLink="/perfil"> Mi
						cuenta</a></li>
						</ng-template>
					<li><a class="nav-link " style="background-color:rgb(0, 0, 0);" (click)="logout()"
						type="button">Cerrar Sesión</a></li>
				  </ul> -->
	
				<!-- </div> -->

				


			  </li>
			<!--   <ng-template [ngIf]="activa"> -->
            <!-- (click)="loginWithRedirect()"  -->
			<li *ngIf="!isAuthenticated" class="px-2 width-li">
				<!-- Mostrar "Mi cuenta" si no hay usuario autenticado -->
				<a (click)="Login()" routerLink="" class="a-nav">
				  <i class="pi pi-user icon-cuenta"></i> Iniciar sesión
				</a>
			</li>
			<li *ngIf="isAuthenticated" class="px-2 width-li">
				<!-- Mostrar dropdown si el usuario está autenticado -->
				<div  class="dropdown">
				  <a *ngIf="auth.user$ | async as user" class="dropdown-toggle a-nav" data-bs-toggle="dropdown">
					<i class="pi pi-user icon-cuenta"></i> {{ user.name }}
				  </a>
				  <ul class="dropdown-menu" style="background: radial-gradient(circle, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);">
					<li>
					  <a class="dropdown-item nav-link-drop font-bebas" routerLink="/mi-cuenta">Mi cuenta</a>
					</li>
					<li>
					  <a class="dropdown-item nav-link-drop font-bebas" (click)="LogOut()">Cerrar sesión</a>
					</li>
				  </ul>
				</div>
			  </li>
			  
			  
			  <li class="px-2 width-li">
				<a routerLink="/carrito" class="a-nav"> 
					<i class="pi pi-shopping-cart pi-icon-carrito"></i>     Carrito
				</a>
			  </li>
			  <li class="px-3">
				<a class="a-nav" href="https://www.instagram.com/franquiciat?igsh=MXRuczA4Z3B1aWc3ZA==">
					<i class="pi pi-instagram pi-icon"></i>
				</a>
			</li>
			<li class="px-3">
				<a class="a-nav " href="https://www.facebook.com/FranquiciaT?mibextid=ZbWKwL">
					<i class="pi pi-facebook pi-icon"></i>
				</a>
			</li>
			<!--   </ng-template> -->
	
			  <!--     <ng-template [ngIf]="activa">  -->
			  <li>
			<!-- 	<a routerLink="/contactanos" style="color:#C59B51"> <img src="assets/images/contact.svg" alt="Diez legal"
					width="17" />
				  Contáctanos</a> -->
			  </li>
			  <!--   </ng-template> -->
			</ul>
		  </div>
	  </div>
	</div>
	<!--  <ng-template [ngIf]="activa"> -->
	<div class="container mt-1 nav-margin" >
	  <a class="navbar-brand position-relative" >
		<img class="size-img" src="images/LogoBlancoR.png" alt="LogoBlanco"/>
	  </a>
	  <button id="arrow" class="navbar-toggler mt-4" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<i class="pi pi-bars"></i>
		<script src="assets/json/lottie.js" type="text/javascript"></script>
		<script src="assets/json/index2.js" type="text/javascript"></script>
	  </button>
  
	  <div class="collapse navbar-collapse flex-column py-3 align-items-end" id="navbarSupportedContent" >
  
		<ul class="navbar-nav mb-2 mb-lg-0 text-center">
		
			<li class="nav-item">
				<!-- nombre no iluminado class="nav-link ps-lg-5 -->
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular " routerLink="/inicio">INICIO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/desarrollo" >DESARROLLO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/test">¿MI NEGOCIO ES FRANQUICIABLE?</a>
			</li>
			<li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/financiamiento">MODULOS</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle ps-lg-5 pe-0 bebas-neue-regular" style="color: white;"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
				  PRECIOS
				</a>
				<ul class="dropdown-menu" style="background: radial-gradient(circle, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);">
				  <li><a class="dropdown-item nav-link-drop font-bebas" href="#">Planes</a></li>
				  <li><a class="dropdown-item nav-link-drop font-bebas"  routerLink="/financiamiento">Financiamiento</a></li>
				</ul>
			  </li>
			  <li class="nav-item dropdown">
				<a
				  class="nav-link dropdown-toggle ps-lg-5 pe-0 bebas-neue-regular"
				  href="#"
				  role="button"
				  data-bs-toggle="dropdown"
				  aria-expanded="false"
				  style="color: white;"
				>
				  ASESORÍA
				</a>
				<ul class="dropdown-menu" style="background: radial-gradient(circle, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);">
				  <li><a class="dropdown-item nav-link-drop font-bebas" routerLink="/citas">Citas</a></li>
				  <li><a class="dropdown-item nav-link-drop font-bebas" routerLink="/cursos">Cursos</a></li>
				</ul>
			  </li>
			  
			
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0" routerLink="/cursos">CURSOS</a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0" routerLink="/recursos">RECURSOS</a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0" routerLink="/testimoniales">TESTIMONIALES</a>
			</li>-->
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" (click)="LogOut()" >CONTRATOS IA</a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/marcas">MARCAS</a>
			</li>  -->
			<!-- <li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/nosotros">NOSOTROS</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link ps-lg-5 pe-0 bebas-neue-regular" routerLink="/contacto">CONTACTO</a>
			</li>
			
			
		
		 
		</ul>
		
	  </div>
	</div>
	<!--  </ng-template> -->
  </nav>
