<body id="tope">

	<section class="estamos estamos--financiamiento py-5">
		<div class="container pt-5">
			<div class="row py-5">
				<div class="col-12 text-center blanco pt-5">
				   <!--  <h1 class="tituh4">CITAS</h1> -->
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container px-5 py-5">
			<div class="row justify-content-center">
				<div class="col-12 text-center pb-5">
					<h2 class="titu bold">NUESTRA HISTORIA</h2>
				</div>
				<div class="col-12 col-lg-3 text-center">
					<img src="assets/images/nosotros--img.jpg" alt="">
					<h5 class="bebas pt-4">Denisse Diez — Socia fundadora</h5>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 position-relative">
					<div class="tittt pb-4">
						<div class="row align-items-center">
							<div class="col-6">
								<!-- <h3 class="serif">Lorem ipsum mid<br>dolor placerat</h3> -->
							</div>
							<div class="col-6">
								<hr>
							</div>
						</div>
					</div>
					<div class="testimm bg-grisc position-relative">
						<img src="assets/images/tri.svg" style="position: absolute; top: 0; left: 0" width="40">
						<div class="row">
							<div class="col-12 col-lg-12">
								<div class="tt p-5 position-relative" style="text-align: justify;">
									<p>Maestra Denisse Diez, abogada mexicana con 15 años de experiencia en el ámbito de
										la prevención legal, analista de riegos y socia fundadora de DIEZ Y ASOCIADOS.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="py-4"></div>

					<div class="tittt pb-4">
						<div class="row align-items-center">
							<div class="col-6">
								<!-- <h3 class="serif">Lorem ipsum mid<br>dolor placerat</h3> -->
							</div>
							<div class="col-6">
								<hr>
							</div>
						</div>
					</div>
					<div class="testimm bg-grisc position-relative">
						<img src="assets/images/tri.svg" style="position: absolute; top: 0; left: 0" width="40">
						<div class="row">
							<div class="col-12 col-lg-12">
								<div class="tt p-5 position-relative" style="text-align: justify;">
									<p>En mi trayectoria profesional, he tenido la fortuna de ser consultora de grandes,
										medianas y pequeñas empresas, sitiándome en una posición privilegiada ya que me
										ha permitido conocer a detalle la diversidad de actividades de las empresas que
										asesoro, sus fortalezas, debilidades y riesgos.
										<br>
										<br>
										Hablando de PYMES -negocios consolidados- me he encontrado con negocios exitosos
										y reconocidos en su ciudad, así como con proyectos novedosos con gran potencial
										de crecimiento que se encuentran estancados y no saben por dónde empezar a
										planear su crecimiento, incluso alguna de estas desconocían que tipo de asesor
										podría ayudarles a organizar sus procesos, poner en orden sus finanzas, y crecer
										conociendo sus riesgos para tomar decisiones informadas.
										<br>
										<br>
										En este camino descubrí que una de las formas sencillas de ordenar y hacer
										crecer
										un negocio es franquiciándolo. El gran número de beneficios que implica
										franquiciar hace que el sistema de franquicias sea un modelo de crecimiento muy
										noble ya que les permite a los dueños de un negocio sacar provecho a las
										experiencias adquiridas en su operación, sin asumir los riesgos y costos
										asociados de nuevas sucursales; ofrece un crecimiento más rápido, y sin
										demandarle el mismo tiempo que le tomaría llevar la operación de sucursales
										propias.
										<br>
										<br>
										Queremos dar a conocer a los empresarios y emprendedores que hay diversas formas
										de organizar y crecer su negocio sin tanto riesgo; una de ellas es
										franquiciándolo con franquicaT.
										<br>
										<br>
										La oportunidad está en que hay muchas personas afuera que buscan invertir en un
										negocio ya consolidado, puesto que no quieren correr el riesgo de perder su
										dinero iniciando un negocio que desconocen.
										<br>
										<br>
										Nos sentimos orgullosos de poder apoyar a la sociedad, facilitando a los
										empresarios los conocimientos adquiridos a lo largo de este andar para que
										crezcan su negocio a gran escala y exponencíen sus ganancias.
										<br>
										<br>
										Todos los asesores que integramos Franquiciat, estamos comprometidos en capturar
										la esencia de tu negocio, llevando de la mano a los empresarios en este proceso,
										por ello es que damos una garantía de acompañamiento de un año.
									</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<section class="bg-grisc py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-3">
					<h3 class="bebas">Nuestras Redes Sociales</h3>
				</div>
				<div class="col-2">
					<hr>
				</div>
				<div class="col-12 col-lg-3 text-center">
					<a type="button" href="https://www.linkedin.com/in/franquiciat/"><img
							src="assets/images/linkedin.svg" width="50"></a>
					<a type="button" href="https://www.instagram.com/franquiciat/"><img
							src="assets/images/instagram.svg" width="50"></a>
					<a type="button" href="https://www.facebook.com/FranquiciaT"><img src="assets/images/facebook.svg"
							width="50"></a>
				</div>
			</div>
		</div>
	</section>

</body>